.Component_1 {
  min-height: 100px;
  background-color: antiquewhite;
  padding: 10px 50px;
  font-weight: large;
  border: solid 2px white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 10px;
}

.generate_btn {
  background-color: white;

  margin-top: 15px;
  padding: 6px;

  border: 2px solid black;
  border-radius: 5px;
}
